.bold{
	font-weight: bold;
}
.numberDiv{
	width: 25%;
	display: inline-block;
	box-sizing: border-box;
	margin-right: 5px;
	margin-left: 5px;
}
.logo-img{
          box-sizing: border-box;
	margin-top: 20px;
	text-align: center;
}


.img{
  border-radius:5px;
  width:150px;
  height:150px;
  box-sizing: border-box;
  }
.img img{
  width: 100%;
  box-sizing: border-box;
}

@media all and (min-width: 500px) and (max-width: 1000px)
{
.img{
  border-radius:5px;
  width:200px;
  height:200px;
  }
}

@media all and (max-width: 499px)
{
.img{
  border-radius:5px;
  width:150px;
  height:150px;
  }
}
